<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="lightbot_net_app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <lightbot_net_app.Properties.Settings>
            <setting name="appkey" serializeAs="String">
                <value />
            </setting>
            <setting name="cheering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="subs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="largeCheer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="onOff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cheerFloor" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="largeCheerFloor" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="onFloor" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="offFloor" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="channel" serializeAs="String">
                <value />
            </setting>
            <setting name="largeCheerAction" serializeAs="String">
                <value>Loop</value>
            </setting>
            <setting name="primeSubAction" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Tier1SubAction" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Tier2SubAction" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Tier3SubAction" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="setlightsSubs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setlightsMods" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="colorloopSubs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorloopMods" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tier1ChangeColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tier2ChangeColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tier3ChangeColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrimeSubChangeColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorLoopDuration" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="giftSubs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="giftSubT1" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="giftSubT2" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="giftSubT3" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="raids" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="raidAction" serializeAs="String">
                <value>None</value>
            </setting>
        </lightbot_net_app.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>